.list-items li.active {
  background-color: crimson;
   display: flex;
   justify-content: center;
   align-items: center;
}
.list-items li {
  display: none;
  width: 350px;
  height: 250px;
  font-size: x-large;
}
.container {
  display: flex;
  justify-content: center;
}
.button-holder {
  display: flex;
  justify-content: center;
}